<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="style.css" />
      <title>{% block title %}{% endblock %}</title>
      <style>
      {% block style %}
        html, body { height:100% border: 0; padding: 0; margin: 0; }
        #content { max-width:1000px; margin: 0 auto; }
        .test-suite { border-top:solid 2px #888; margin:2em 0; }
        table.test-result td.test-name { min-width: 240px; }
        table.test-result td.test-description { width: 100%; }
        table.test-result td.test-time { text-align: right; }        
      {% endblock %}  
      </style>
    {% endblock %}
  </head>
  <body>
    <div id="header">
      {% block header %}
      {% endblock %}
    </div>    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
